<div class="controls">
  <div class="expand-collapse-buttons">
    <a class="expand-all active" href="#"><span>EXPAND ALL <i class="fa fa-caret-down"></i><i class="fa fa-caret-up"></i></span></a>
    <a class="collapse-all" href="#"><span>COLLAPSE ALL <i class="fa fa-caret-down"></i><i class="fa fa-caret-up"></i></span></a>
  </div>
  <div class="sort-buttons">
    <a class="sort-newest active" href="#"><span>NEWEST FIRST <i class="fa fa-caret-down"></i><i class="fa fa-caret-up"></i></span></a>
    <a class="sort-oldest" href="#"><span>OLDEST FIRST <i class="fa fa-caret-down"></i><i class="fa fa-caret-up"></i></span></a>
  </div>
</div>
